---
csiDriver:
  name: "org.democratic-csi.iscsi"

node:
  kubeletHostPath: "/var/snap/microk8s/common/var/lib/kubelet"

storageClasses:
  - name: freenas-iscsi-csi
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4

driver:
  config:
    driver: freenas-api-iscsi

    instance_id:

    httpConnection:
      protocol: https
      host: nas1.on.sestary.eu
      port: 443
      apiKey: <path:secrets.enc.yaml#truenas_api_key>

    zfs:
      datasetProperties:
        "org.freenas:description": "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
        #  "org.freenas:test": "{{ parameters.foo }}"
        #  "org.freenas:test2": "some value"

      datasetParentName: common/k8s/iscsi/vols
      detachedSnapshotsDatasetParentName: common/k8s/iscsi/snaps

    iscsi:
      targetPortal: "nas1.on.sestary.eu"
      namePrefix: csi-
      nameSuffix: "-clustera"

      targetGroups:
        - targetGroupPortalGroup: 1
          targetGroupInitiatorGroup: 1
          targetGroupAuthType: None

    extentCommentTemplate: "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
    extentInsecureTpc: true
    extentXenCompat: false
    extentDisablePhysicalBlocksize: true
    extentBlocksize: 512
    extentRpm: "5400"
    extentAvailThreshold: 0
