---
image:
  # -- image repository
  repository: lscr.io/linuxserver/tautulli
  # -- image tag
  tag: v2.13.4-ls110

strategy:
  type: Recreate

env:
  TZ: America/Toronto

# -- Configures service settings for the chart.
service:
  main:
    ports:
      http:
        port: 8181

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  main:
    enabled: true

    ingressClassName: nginx
    hosts:
      - host: tautulli.sestary.eu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - tautulli.sestary.eu

# -- Configure persistence settings for the chart under this key.
persistence:
  config-nas:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 10Gi
    mountPath: /config
    storageClass: truenas-iscsi-csi
