---
applicationSet:
  logLevel: ${log_level_applicationSet}

controller:
  logLevel: ${log_level_controller}

dex:
  logLevel: ${log_level_dex}

repoServer:
  logLevel: ${log_level_repoServer}

server:
  logLevel: ${log_level_server}
