---
image:
  # -- image repository
  repository: fallenbagel/jellyseerr
  # -- image tag
  tag: preview-pr184
  pullPolicy: Always

strategy:
  type: Recreate

# -- Configures service settings for the chart.
service:
  main:
    ports:
      http:
        port: 5055

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  main:
    enabled: true

    ingressClassName: nginx
    hosts:
      - host: requests.sestary.eu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - requests.sestary.eu

# -- Configure persistence settings for the chart under this key.
persistence:
  config-nas:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 10Gi
    mountPath: /app/config
    storageClass: truenas-iscsi-csi
