---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kube-prometheus-stack
    namespace: monitoring-prometheus
    releaseName: prometheus
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: values.yaml
    version: 61.3.2
    includeCRDs: true

patches:
  - path: patches/crds.yaml
