---
image:
  # -- image repository
  repository: lscr.io/linuxserver/sonarr
  # -- image tag
  tag: 4.0.12

strategy:
  type: Recreate

env:
  PUID: 1000
  PGID: 1000

# -- Configures service settings for the chart.
service:
  main:
    ports:
      http:
        port: 8989

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  main:
    enabled: true

    annotations:
      nginx.ingress.kubernetes.io/auth-url: |-
        http://ak-outpost-sestary-outpost.auth-authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
      nginx.ingress.kubernetes.io/auth-signin: |-
        https://sonarr.sestary.eu/outpost.goauthentik.io/start?rd=$escaped_request_uri
      nginx.ingress.kubernetes.io/auth-response-headers: |-
        Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
      nginx.ingress.kubernetes.io/auth-snippet: |
        proxy_set_header X-Forwarded-Host $http_host;

    ingressClassName: nginx
    hosts:
      - host: sonarr.sestary.eu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - sonarr.sestary.eu

# -- Configure persistence settings for the chart under this key.
persistence:
  config-nas:
    enabled: true
    type: pvc
    accessMode: ReadWriteOnce
    size: 10Gi
    mountPath: /config
    storageClass: truenas-iscsi-csi

  media:
    enabled: true
    type: pvc
    accessMode: ReadWriteMany
    size: 25Ti
    mountPath: /media
    storageClass: "-"
    volumeName: truenas-media-sonarr
